body{
    background-color: #114e77;
    font-family: Verdana, sans-serif;
    color: white;
}

li{
    list-style: none;
}

img{
    height: 150px;
    width: auto;
}
#employeeNav li{
    float: left;
    padding-right: 3em;
}

#errorBudget{
    background-color: #801e5a;
}

table{
    background-color: #421362;
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    min-width: 400px;
    box-shadow: 0 0 20px 0 rgba(0,0,0,0.15);
}
th{
    border-radius: 10px;
}
thead tr{
    background-color: #b989ff;
    text-align: center;
}
th,tr{
    padding: 12px 15px;
}

tbody tr{
    border-bottom: thin solid #dddddd;
}


tbody tr:last-of-type{
    border-bottom: 2px solid #8050a2;
}

a{
    text-decoration: none;
    color: mediumpurple;
}
a:visited{
    color: grey;
}
a:visited:hover{
    color:white;
}
a:hover{
    color: white;
}