<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments::header(title = 'New order for employee: ' + ${employeeId})"></head>
<body>
<form th:object="${newOrderForm}" th:action="@{/orders}" method="post">
    <label>
        Description
        <input th:field="*{description}" type="text" autofocus required>
    </label>
    <label>
        Amount
        <input th:field="*{amount}" type="number" required min="0">
    </label>
    <input type="hidden" name="employeeId" th:value="${employeeId}">
    <button>Order</button>
</form>
</body>
</html>